* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #999;
//    background: #999;
    font-size: 90%;

    font-weight: bolder;
}
    /*.post-category-css {*/
        /*background: #5aba59;*/
    /*}*/
    /*.post-category-python {*/
        /*background: #4d85d1;*/
    /*}*/
    /*.post-category-html {*/
        /*background: #8156a7;*/
    /*}*/
    /*.post-category-flask {*/
        /*background: #df2d4f;*/
    /*}*/
    /*.post-category-angular{*/
        /*background: #003bb3;*/
    /*}*/
    /*.post-category-welcome{*/
        /*background: #dd1144;*/
    /*}*/

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}


/*********************************************
    FOR USE WITH PRETTY PRINT FOR PRINTING
    CODE MARKUP IN HTML.
**********************************************/
/* Tomorrow Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */
.pln { color: #4d4d4c; }
@media screen {
  .str { color: #718c00; }
  .kwd { color: #8959a8; }
  .com { color: #8e908c; }
  .typ { color: #4271ae; }
  .lit { color: #f5871f; }
  .pun { color: #4d4d4c; }
  .opn { color: #4d4d4c; }
  .clo { color: #4d4d4c; }
  .tag { color: #c82829; }
  .atn { color: #f5871f; }
  .atv { color: #3e999f; }
  .dec { color: #f5871f; }
  .var { color: #c82829; }
  .fun { color: #4271ae; }
}
@media print, projection {
  .str { color: #006600; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #004444; }
  .pun, .opn, .clo { color: #444400; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #440044; }
  .atv { color: #006600; }
}
pre.prettyprint {
  background: #f8f8f8;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #cccccc;
  padding: 10px;
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/******************************************************
    USE THE CSS BELOW TO ADD LINE NUMBERS TO EACH LINE
    ALONG WITH linenums CLASS TO EACH <pre><code>
    COMBINATION OR ELSE YOU ONLY GET LINE NUMBERS EVERY
    FIVE LINES.
******************************************************/
/*
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9{

    color: #555;
    list-style-type: decimal;

}*/
