
.container {
  padding-top: 50px;
  max-width: 70%;
  height: 100%;
}

.the-task{
    display: inline;
    width: 100px;
}

#results{
    width: 70%;
    float:left;
}

ul{
    list-style-type: none;
    padding: 0;
    list-style: none;

}

.glyphicon-remove-circle{
    font-size: 25px;
    float: right;

}

.err{
    height:75px;
    background-color: red;
}

