{% extends "layout.html" %}
{% block content %}
    <body>
    <div class="container">
        <h1>TaskMe</h1>
        <p class="lead">My version of the "Hello World" of the web.  A todo app!</p>
        <form id="searchForm" role="form" method="POST" action="{{ url_for('add_task') }}">
            <div class="form-group">
                <label class="control-label">Enter your task!</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="task" value="{{ request.form.task }}" placeholder="Enter your todo item!">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Submit</button>
                </span>
                </div>
            </div>

        </form>
        <br>
        <div id="results">
            <ul>
                {% for tasks in open_tasks %}
                    <form action="{{ url_for('update_task', task_id=tasks.task_id) }}" method="POST">

                        <li style="margin: 20px; padding: 5px;">
                            <input type="text" name="{{ tasks.task_id }}" value="{{ tasks.task }}">&nbsp;&nbsp;
                            <a href="{{ url_for('delete_task', task_id=tasks.task_id) }}">Delete</a>&nbsp;&nbsp;
                            <input type="submit" value="Update">
                        </li>
                    </form>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>

{% endblock %}