<!doctype html>
<html>
<head>
    <title>TODO?</title>
    <style type="text/css">
        .flash{
            background-color: #86989B;
        }
    </style>
        <link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">

    <link href="http://bootswatch.com/cosmo/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
{#
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
#}

</head>


<body>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">TODO?</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#">Portfolio</a></li>

    </ul>
  </div>
</div>
{% for message in get_flashed_messages() %}
 <div class="flash">{{ message }}</div>
 {% endfor %}
 {% if error %}
     <p class="err">Error: {{ error }}</p>
{% endif %}
    {% block content %}
    {% endblock %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <div class="footer">
        <hr>
        <p>&copy; <a href="http://www.mlnorman.com">Mike Norman</a></p>
    </div>
</body>
</html>